
<div class="item-container {{#unless image.url}}noImage{{/unless}}">
	{{#if image.url}}
		<div class="imgContainer">
			<div class="centerBox">
				<!--img src="{{image.url}}" alt="" /-->
				<!--
					Switch comments if revert to canvas or img tag.
					See also site-controller
				-->
				<canvas></canvas>
			</div>
		</div>
	{{/if}}

	<div class="infos">
		{{#if image}}
		<div class="source">
			<img class="favicon" src="http://geticon.org/of/{{source.url}}" />
			<a class="dateAndName" target="_blank" href="{{source.url}}">{{fullDate pubDate}} | {{{source.content}}}</a>
		</div>
		{{/if}}
		<a class="title" target="_blank" href="{{link}}"><span data-url="{{link}}">{{title}}</span></a>

		{{#unless image}}
			<div class="source">
				<img class="favicon" src="http://geticon.org/of/{{source.url}}" />
				<a class="dateAndName" target="_blank" href="{{source.url}}">{{fullDate pubDate}} | {{{source.content}}}</a>
			</div>
			{{#if shortDescription}}
			<p class='shortDescription'>{{{shortDescription}}}</p>
			{{/if}}
		{{/unless}}
	</div>
</div>