
<div class="item-container {{#unless image.url}}noImage{{/unless}}">
	{{#unless error}}
		{{#if image}}
			{{#if image.url}}
			<div class="imgContainer">
				<div class="centerBox">
					<!--img src="{{image.url}}" alt="" /-->
					<!--
						Switch comments if revert to canvas or img tag.
						See also site-controller
					-->
					<canvas></canvas>
				</div>
			</div>
			{{/if}}
		{{/if}}

		<div class="infos">
			<div class="source">
				<!--img class="favicon" src="http://g.etfv.co/{{source.url}}?defaulticon=http://en.wikipedia.org/favicon.ico" /-->
				<!-- testing favicon service alternative -->
				<img class="favicon" src="http://geticon.org/of/{{source.url}}" />
				<a class="dateAndName" target="_blank" href="{{source.url}}">{{fullDate pubDate}} | {{{source.content}}}</a>
			</div>
			<a class="title" target="_blank" href="{{link}}"><span data-url="{{link}}">{{title}}</span></a>
		</div>
	{{/unless}}
	{{#if error}}
		<span>Can't grab news… Try again !</span>
	{{/if}}
</div>